.jumbotron {
  text-align: center;
  margin-bottom: 30px;
  background: #CD5334;
}

.navbar {
    border-radius: 6px; 
    margin-bottom: 20px;
}

jumbotron h5 {
  color: #2E282A
}

.jumbotron h1 {
  color: #fff;
}