.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #A69888;
}

#header-title {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 25px;

}

h1.header-title {
  font-size: 45px;
  text-align: center;
  width: 280px;
  margin: 10px auto;
  margin-bottom: 35px;
  text-decoration: underline dashed;
  color: #F6F1D1;
}

#header-container {
  box-shadow: 5px 5px 18px 2px #000, 1px 1px 10px rgba(0, 0, 0, 0.50) inset;
  padding: 15px;
  border-radius: 5px;
  background-color: #334E58;
  color: #fff;
  text-shadow: 5px 2px rgba(0, 0, 0, 0.50);
  font-size: 18px;
}

.p-body {
  margin: 20px 20px;
  line-break: 10px;
  line-height: 35px;
}