* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url("./background-img/bross-head.png");
  background-repeat: repeat;
  background-size: 100px;
  background-color: #3b8c6e;
}
